.hero {
  background: $color-bg-mainscreen;
  padding: 51px 0;
  // min-height: 658px;
  color: $color-default-white;

  @include vp-1199 {
    padding: 82px 0;
  }

  @include vp-767 {
    padding: 82px 0 78px;
  }

  &__wrapper {
    display:flex;
  }

  &__description {
    margin-right: 64px;
    display:flex;
    flex: 1;
    flex-direction: column;
    text-align: right;
    align-items: end;

    @include vp-1199 {
      margin-right: 30px;
    }

    @include vp-767 {
      margin-right: 0;
      flex-wrap: wrap;
      align-content: center;
    }

    p {
      margin: 0;
      font-size: 42px;
      line-height: 44px;
      letter-spacing: 2px;
      padding-top: 120px;
      padding-right: 52px;
      text-transform: uppercase;

      @include vp-1199 {
        font-size: 30px;
        letter-spacing: 1px;
        padding-top: 50px;
        padding-right: 4px;
      }

      @include vp-767 {
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 0.5px;
        padding-top: 28px;
      }
    }

    h1 {
      margin: 0;
      padding-top: 20px;
      font-size: 92px;
      line-height: 110px;
      letter-spacing: 4.6px;
      text-transform: uppercase;
      -webkit-text-stroke: 3px;

      @include vp-1279 {
        padding-top: 0;
        font-size: 72px;
        line-height: 90px;
        letter-spacing: 4px;
        text-transform: none;
      }

      @include vp-767 {
        padding-top: 10px;
        line-height: 88px;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      margin-bottom: -14px;
      top: -100px;
      right: 266px;

      text-align: right;
      font-family: $ff-secondary;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      @include vp-1279 {
        margin-bottom: -32px;
        top: -90px;
        right: 212px;
      }

      @include vp-767 {
        margin-bottom: -44px;
        top: -96px;
        right: 178px;
      }
    }

    .btn {
      max-width: 100%;

      @include vp-1199 {
        padding: 22px 32px;
      }

      @include vp-767 {
        width: 290px;
      }
    }
  }

  img {
    object-fit: cover;
    margin-right: 200px;

    @include vp-1199 {
      max-width: 324px;
      height: 390px;
      margin-right: 0;
    }

    @include vp-767 {
      display: none;
    }
  }
}
